
    .bg-glass {
      background-color: hsla(29, 85%, 51%, 0.9) !important;
      backdrop-filter: saturate(200%) blur(25px) opacity(60%);

    }
    .btn-primary{
      background-color: #FF5C00;
    }
    img{
      width: 5cm;
      height: 5cm;
    }
