<main class="dash-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-9    ">
                <div class="card easion-card">
                    <div class="card-header">
                        <div class="easion-card-icon">
                            <i class="fas fa-chart-bar"></i>
                        </div>
                        <div class="easion-card-title"> Santa Rosa Laguna Map </div>
                    </div>
                    <div class="card-body ">
                        <form>
                            <div class="i"><img src="/assets/img/santa.png" width="70%" height="70%"></div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-xl-3">
                <div class="card easion-card">
                    <div class="card-header">
                        <div class="easion-card-icon">
                            <i class="fas fa-chart-bar"></i>
                        </div>
                        <div class="easion-card-title"> Total Population </div>
                    </div>
                    <div class="card-body ">
                        <form class="form-inline">
                            <h1>2631</h1>
                        </form>
                    </div>
                </div>
                <div class="design">
                <div class="card easion-card">
                    <div class="card-header">
                        <div class="easion-card-icon">
                            <i class="fas fa-chart-bar"></i>
                        </div>
                        <div class="easion-card-title">Legends</div>
  
                    </div>
                    <div class="card-body ">
                        <form>
                            <div class="Leg"><img src="/assets/img/legends.png" width="100%" height="200%"></div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
        <div class="row">
            <div class="col-xl-10">
                <div class="card easion-card">
                    <div class="card-header">
                        <div class="easion-card-icon">
                            <i class="fas fa-chart-bar"></i>
                        </div>
                        <div class="easion-card-title">Populations Graph</div>
                    </div>
                    <div class="card-body ">
                        <form>
                           <div class="image"><img src="/assets/img/laguna.png" width="110%" height="110%"></div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </main>