.main-section {
  margin: 0 auto;
  margin-top: 130px;
  padding: 0;
}

.bg-glass {
  background-color: #fa5c00cb;
  padding: 25px 70px 25px;
  border-radius: 10px;
}

.btn-primary {
  background-color: #FF5C00;
}

.card-header {
  background-color: #FF5C00;
  
}

.img-fluid {
  width: 15cm;
  height: 15cm;
  display: flex;
}

img {
  width: 6cm;
  height: 6cm;
}
.card-body{
  background: white;
  border-radius: 10px;
}
.card-header {
  display: flex;
  border-radius: 10px;
  margin-bottom: 10px;
}

select {
  border-style: none;
  background-color: #FF5C00;
}

.container {
  display: flex;
}

.vh-100 {
  background-image: url("/assets/bg.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
}

