
<div>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Person With Disability</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDarkDropdown" aria-controls="navbarNavDarkDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <!-- <div class="collapse navbar-collapse" id="navbarNavDarkDropdown">
        <ul class="navbar-nav">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Filter
            </a>
            <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink">
              <li><a class="dropdown-item" href="1">Year</a></li>
              <li><a class="dropdown-item" href="2">Month</a></li>
            </ul>
          </li>
        </ul>
      </div> -->
    </div>
  </nav>
  <div>
  <table class="table">

      <thead>
        <tr>
          <th scope="col">Barangay</th>
          <th scope="col">ID Number</th>
          <th scope="col">Age</th>
          <th scope="col">Sex</th>
          <th scope="col">Type of Disability</th>
          <th scope="col">Civil Status</th>
          <th scope="col">Education Attainment</th>
          <th scope="col">Status of Employment</th>
          <th scope="col">Category of Employment</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">22</th>
          <td>1</td>
          <td>53</td>
          <td>F</td>
          <td>Cancer</td>
          <td>Married</td>
          <td>Highschool</td>
          <td>Employed</td>
          <td>Government</td>

        </tr>
        <tr>
          <th scope="row">10</th>
          <td>2</td>
          <td>24</td>
          <td>M</td>
          <td>Psychosocial</td>
          <td>Single</td>
          <td>College</td>
          <td>Unemployed</td>
          <td></td>

        </tr>
        <tr>
          <tr>
            <th scope="row">10</th>
            <td>3</td>
            <td>55</td>
            <td>F</td>
            <td>Cancer</td>
          <td>Married</td>
          <td>Highschool</td>
          <td>Employed</td>
          <td>Private</td>

          </tr>
          <tr>
            <th scope="row">10</th>
            <td>4</td>
            <td>18</td>
            <td>F</td>
            <td>Learning</td>
          <td>Single</td>
          <td>Highschool</td>
          <td>Unemployed</td>
          <td></td>

          </tr>
          <tr>
            <th scope="row">7</th>
            <td>5</td>
            <td>24</td>
            <td>M</td>
            <td>Mental</td>
          <td>Married</td>
          <td>College</td>
          <td>Employed</td>
          <td>Government</td>

          </tr>
      </tbody>
    </table>
    <nav class="main2" aria-label="Page navigation example">
      <ul class="pagination">
        <li class="page-item"><a class="page-link" href="#">Previous</a></li>
        <li class="page-item"><a class="page-link" href="#">1</a></li>
        <li class="page-item"><a class="page-link" href="#">2</a></li>
        <li class="page-item"><a class="page-link" href="#">3</a></li>
        <li class="page-item"><a class="page-link" href="#">Next</a></li>
      </ul>
    </nav>