.stat 
{
    width: auto;
    height: auto;
    margin-left: auto;
    margin-top: 65%;
}
.form 
{
    align-items: center;
}
.image
{
    padding-top: 1pc;
    padding-bottom: 1pc;
    padding-right: 7pc;
    padding-left: 1pc;
}
.i
{
    padding: 5pc;
    padding-top: 1pc;
    padding-bottom: 1pc;
    padding-left: 10pc;
    margin-right: 1%;
    margin-right: 0%;
}
.Leg
{
    width: 70%;
    height: 70%;
    padding-top: 1pc;
    padding-bottom: 1pc;
   
}
